#daily-double-splash {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
}

#daily-double-container {
    text-align: center;
    font-size: 60px;
}
