.clue {
  text-transform: uppercase;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.clue-details {
  padding: 10px 2px;
  font-size: 1.4em;
  text-align: center;
}

.clue-details-value {
  color: yellow;
  font-family: 'Chivo Mono', monospace;
  text-shadow: 4px 4px 2px black;
  font-weight: 600;
  font-size: 1.3em;
}

.clue-details-category {
  color: white;
  margin-bottom: 0.4em;
  text-shadow: 4px 4px 2px black;
}

.clue-details-text {
  margin-top: 60px;
  font-size: 2.0em;
  text-align: center;
  text-shadow: 4px 4px 2px black;
  flex: 1 0 auto;
}

.green {
  color: #21cf21;
}