#wager-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-top: -50px;
}

#wager-label {
    font-size: 1.4em;
}

#wager-input {
    all: unset;
    background: transparent;
    color: yellow;
    width: 50%;
    text-align: center;
    font-size: 4em;
}

#wager-range-container {
    width: 80%;
}

#wager-confirm {
    background: #a1aafb;
    border-radius: 50px;
    border: 2px solid white;
    padding: 10px 15px;
    font-size: 22px;
}

#true-daily-double {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin: 15px 0px;
}