#game-controls {
    /* background: black; */
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#game-controls-score {
    background:rgb(14, 14, 249);
    font-size: 2.2em;
    font-weight: 700;
    margin: 0 80px;
    padding: 8px;
    border: 4px solid rgba(204, 204, 204, 0.897);
    text-align: center;
    text-shadow: 4px 4px 2px black;
    box-shadow: 4px 4px 4px rgba(9, 9, 9, 0.519);
    transition: transform 100ms ease-in-out;
}

#game-controls-score:active {
    transform: scale(1.1)
}

#game-controls-score.correct {
    border-color: #21cf21;
}

#game-controls-score.incorrect {
    border-color: #cf2121;
}

#game-controls-score.negative span {
    color: #cf2121;
}


#game-controls-score * {
    font-family: 'Chivo Mono', monospace;
}