.clue {
  text-transform: uppercase;
}

.clue-details {
  padding: 5px 10px;
  font-size: 1.8em;
  display: flex;
  justify-content: space-between;
}

.clue-details-value {
  color: yellow;
}

.clue-details-category {

}

.clue-details-title {
  font-size: 3em;
  text-align: center;
  padding: 20px;
}