.App {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(7,10,124);
  background: linear-gradient(180deg, rgba(7,10,124,1) 0%, rgba(6,12,233,1) 100%);
}

/* https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
/* https://css-tricks.com/how-to-use-css-grid-for-sticky-headers-and-footers/ */