.App {
  background: rgb(5,7,103);
  background: linear-gradient(180deg, rgba(5,7,103,1) 30%, rgba(6,12,233,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#logo {
  margin-top: 0;
  margin-left: -10px;
  margin-right: -10px;
  letter-spacing: 0.1em;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px 5px;
  border-radius: 5px;
}

.App-header {
  text-align: center;
  font-weight: 600;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 50vw;
  /* height: 30vh; */
  display: grid;
  gap: 10px;
  overflow: hidden;
  margin: 0;
  padding: 40px 25px;
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 50px;
}

.item {
  background: #e6e7fd;
  border-radius: 50px;
  border: none;
  padding: 10px 5px;
  font-size: 22px;
}
